In [1]:
import pandas as pd
import requests, os, json
from pandas import json_normalize

In [2]:
suspects = '../../analyses/kindergartens/suspects.csv'
# redflags = '../../analyses/kindergartens/redflags.csv'

enheter = 'data/enheter_2024-06-11T04-16-20.253290563.csv'
underenheter = 'data/underenheter_2024-06-11T04-22-23.463742057.csv'

In [3]:
# Load the CSV file
df_sus = pd.read_csv(suspects, dtype=str)
# df_rf = pd.read_csv(redflags, dtype=str)

all_ids= pd.concat([df_sus[col] for col in df_sus.columns]).unique()
fd = pd.DataFrame(all_ids, columns=['organization number'])

In [4]:
df_en = pd.read_csv(enheter, dtype=str)

In [5]:
df_un = pd.read_csv(underenheter, dtype=str)

In [6]:
# # Check if both dataframes have the exact same list of columns
# columns_match = df_en.columns.equals(df_un.columns)
# print(f"Do both dataframes have the exact same columns? {columns_match}")

# # Identify if one dataframe has more columns than the other
# df_en_columns = set(df_en.columns)
# df_un_columns = set(df_un.columns)

# if df_en_columns != df_un_columns:
#     extra_columns_df_en = df_en_columns - df_un_columns
#     extra_columns_df_un = df_un_columns - df_en_columns
#     common_columns_df = df_un_columns & df_en_columns
#     print(f"Extra columns in df_un: {extra_columns_df_un}")
#     print(f"Extra columns in df_en: {extra_columns_df_en}")
#     print(f"Common columns in df_un: {common_columns_df}")

# # Checking if dataframes have overlapping 'organisasjonsnummer'
# common = pd.merge(df_en, df_un, on='organisasjonsnummer')
# print(common)

In [7]:
fd

     organization number
0              811616532
1              812288172
2              812448072
3              812573772
4              812610082
...                  ...
6508           979408439
6509           922850097
6510           991982434
6511           971255838
6512           999238610

[6513 rows x 1 columns]

In [8]:
column_fixes = {
    'registreringsdatoIEnhetsregisteret': 'registreringsdatoenhetsregisteret',
    'registrertIMvaRegisteret': 'registrertIMvaregisteret',
}
column_translations = {
    'aktivitet': 'activity',
    'antallAnsatte': 'number of employees',
    'beliggenhetsadresse.adresse': 'location address',
    'beliggenhetsadresse.kommune': 'location municipality',
    'beliggenhetsadresse.kommunenummer': 'location municipality number',
    'beliggenhetsadresse.land': 'location country',
    'beliggenhetsadresse.landkode': 'location country code',
    'beliggenhetsadresse.postnummer': 'location postal code',
    'beliggenhetsadresse.poststed': 'location post town',
    'datoEierskifte': 'ownership change date',
    'forretningsadresse.adresse': 'business address',
    'forretningsadresse.kommune': 'business municipality',
    'forretningsadresse.kommunenummer': 'business municipality number',
    'forretningsadresse.land': 'business country',
    'forretningsadresse.landkode': 'business country code',
    'forretningsadresse.postnummer': 'business postal code',
    'forretningsadresse.poststed': 'business post town',
    'frivilligMvaRegistrertBeskrivelser': 'voluntary VAT registered descriptions',
    'harRegistrertAntallAnsatte': 'has registered number of employees',
    'hjelpeenhetskode.beskrivelse': 'auxiliary unit code description',
    'hjelpeenhetskode.kode': 'auxiliary unit code',
    'hjemmeside': 'website',
    'institusjonellSektorkode.beskrivelse': 'institutional sector code description',
    'institusjonellSektorkode.kode': 'institutional sector code',
    'konkurs': 'bankrupt',
    'konkursdato': 'bankruptcy date',
    'maalform': 'language form',
    'naeringskode1.beskrivelse': 'industry code 1 description',
    'naeringskode1.kode': 'industry code 1',
    'naeringskode2.beskrivelse': 'industry code 2 description',
    'naeringskode2.kode': 'industry code 2',
    'naeringskode3.beskrivelse': 'industry code 3 description',
    'naeringskode3.kode': 'industry code 3',
    'navn': 'name',
    'nedleggelsesdato': 'closure date',
    'oppstartsdato': 'start date',
    'organisasjonsform.beskrivelse': 'organization form description',
    'organisasjonsform.kode': 'organization form code',
    'organisasjonsnummer': 'organization number',
    'overordnetEnhet': 'parent unit',
    'postadresse.adresse': 'postal address',
    'postadresse.kommune': 'postal municipality',
    'postadresse.kommunenummer': 'postal municipality number',
    'postadresse.land': 'postal country',
    'postadresse.landkode': 'postal country code',
    'postadresse.postnummer': 'postal code',
    'postadresse.poststed': 'postal town',
    'registreringsdatoenhetsregisteret': 'registration date in unit register',
    'registrertIForetaksregisteret': 'registration date of the Unit Register',
    'registrertIFrivillighetsregisteret': 'registered in volunteer register',
    'registrertIMvaregisteret': 'registered in VAT register',
    'registrertIStiftelsesregisteret': 'registered in foundation register',
    'sisteInnsendteAarsregnskap': 'last submitted annual accounts',
    'stiftelsesdato': 'foundation date',
    'tvangsavvikletPgaManglendeSlettingDato': 'compulsory liquidation due to lack of deletion date',
    'tvangsopplostPgaMangelfulltStyreDato': 'compulsory dissolution due to insufficient board date',
    'tvangsopplostPgaManglendeDagligLederDato': 'compulsory dissolution due to lack of general manager date',
    'tvangsopplostPgaManglendeRegnskapDato': 'compulsory dissolution due to lack of accounts date',
    'tvangsopplostPgaManglendeRevisorDato': 'compulsory dissolution due to lack of auditor date',
    'underAvvikling': 'under liquidation',
    'underAvviklingDato': 'under liquidation date',
    'underTvangsavviklingEllerTvangsopplosning': 'under compulsory liquidation or dissolution',
    'vedtektsdato': 'articles of association date',
    'vedtektsfestetFormaal': 'statutory purpose'
}
translation_dict = {
    'Underenhet til nÃ¦ringsdrivende og offentlig forvaltning': 'Subunit of businesses and public administration',
    'Enkeltpersonforetak': 'Sole proprietorship',
    'Aksjeselskap': 'Limited company (AS)',
    'Forening/lag/innretning': 'Association/club/facility',
    'Underenhet til ikke-nÃ¦ringsdrivende': 'Subunit of non-business entities',
    'Eierseksjonssameie': 'Condominium',
    'Utenlandsk enhet': 'Foreign entity',
    'Norskregistrert utenlandsk foretak': 'Norwegian registered foreign company (NUF)',
    'Ansvarlig selskap med delt ansvar': 'General partnership with shared liability (DA)',
    'Borettslag': 'Housing cooperative',
    'Ansvarlig selskap med solidarisk ansvar': 'General partnership with joint liability (ANS)',
    'Konkursbo': 'Bankruptcy estate',
    'Samvirkeforetak': 'Cooperative',
    'Tingsrettslig sameie': 'Legal co-ownership',
    'Stiftelse': 'Foundation',
    'Annen juridisk person': 'Other legal entity',
    'Organisasjonsledd': 'Organizational unit',
    'Selskap med begrenset ansvar': 'Company with limited liability',
    'Den norske kirke': 'The Church of Norway',
    'Verdipapirfond': 'Mutual fund',
    'Kommune': 'Municipality',
    'Allmennaksjeselskap': 'Public limited company (ASA)',
    'Interkommunalt selskap': 'Inter-municipal company',
    'Kommunalt foretak': 'Municipal enterprise',
    'Kommandittselskap': 'Limited partnership (KS)',
    'Partrederi': 'Partnership in maritime trade',
    'SÃ¦rskilt oppdelt enhet, jf. mval. Â§ 2-2': 'Specially divided unit, according to VAT Act Â§ 2-2',
    'Sparebank': 'Savings bank',
    'Pensjonskasse': 'Pension fund',
    'Annet foretak iflg. sÃ¦rskilt lov': 'Other enterprise according to special law',
    'Andre bo': 'Other estates',
    'Boligbyggelag': 'Housing association',
    'Andre enkeltpersoner som registreres i tilknyttet register': 'Other individuals registered in the associated register',
    'Gjensidig forsikringsselskap': 'Mutual insurance company',
    'Administrativ enhet - offentlig sektor': 'Administrative unit - public sector',
    'Kontorfellesskap': 'Office community',
    'Staten': 'The state',
    'Fylkeskommune': 'County municipality',
    'Tvangsregistrert for MVA': 'Compulsory VAT registration',
    'Statsforetak': 'State enterprise',
    'Fylkeskommunalt foretak': 'County municipal enterprise',
    'Europeisk selskap': 'European company (SE)',
    'Andre ikke-juridiske personer': 'Other non-legal persons'
}

In [9]:
# fix columns
df_en = df_en.rename(columns=column_fixes)
df_en = df_en.rename(columns=column_fixes)

# Concatenate the dataframes
df = pd.concat([df_en, df_un], ignore_index=True)
# print(df)
df = df.rename(columns=column_translations)
df['organization form description (EN)'] = df['organization form description'].map(translation_dict)

In [10]:
# filter for only suspects
df_sus = pd.merge(fd, df, how='left', on='organization number')

In [11]:
df_sus.to_csv('info_suspects.csv', index=False)

In [12]:
def column_statistics(df):
    for column in df.columns:
        print(f"==================================================")
        print(f"Column: {column}")
        unique_values = df[column].nunique()
        
        if unique_values == len(df):
            print("  Unique per row")
        elif pd.api.types.is_numeric_dtype(df[column]):
            mean = df[column].mean()
            std = df[column].std()
            min_val = df[column].min()
            max_val = df[column].max()
            print(f"  Mean: {mean}")
            print(f"  Standard Deviation: {std}")
            print(f"  Min: {min_val}")
            print(f"  Max: {max_val}")
        else:
            value_counts = df[column].value_counts()
            print("  Value counts:")
            print(value_counts)
        print()

In [13]:
column_statistics(df_sus)

==================================================
Column: organization number
  Value counts:
organization number
811616532    1
988250007    1
988315087    1
988313785    1
988312746    1
            ..
974631350    1
974628198    1
974628171    1
974628163    1
999238610    1
Name: count, Length: 6512, dtype: int64

==================================================
Column: name
  Value counts:
name
BARNAS HUS BARNEHAGE                     6
SOLBAKKEN BARNEHAGE                      6
SUNDE BARNEHAGE                          5
TROLLHAUGEN BARNEHAGE                    4
ASKELADDEN BARNEHAGE                     4
                                        ..
TONGJORDET BARNEHAGE                     1
SÃ˜RBYLÃ˜KKA BARNEHAGE                     1
ESPIRA TRYGSTAD BARNEHAGE                1
LÃ†RINGSVERKSTEDET RISTEIGEN BARNEHAGE    1
NORDIQUS NEDRE FAGERHEI 19 AS            1
Name: count, Length: 6114, dtype: int64

==================================================
Column: organization form code
  Value counts:
organization form code
BEDR    5384
AS       419
FLI      174
ENK       60
STI       55
KIRK      54
KOMM      43
SA        32
BRL       17
ORGL      16
SÃ†R       15
KF         7
SAM        6
ESEK       5
ANS        5
BA         3
ANNA       3
OPMV       2
FYLK       2
DA         2
PK         1
BBL        1
STAT       1
ASA        1
KS         1
Name: count, dtype: int64

==================================================
Column: organization form description
  Value counts:
organization form description
Underenhet til nÃ¦ringsdrivende og offentlig forvaltning    5384
Aksjeselskap                                                419
Forening/lag/innretning                                     174
Enkeltpersonforetak                                          60
Stiftelse                                                    55
Den norske kirke                                             54
Kommune                                                      43
Samvirkeforetak                                              32
Borettslag                                                   17
Organisasjonsledd                                            16
Annet foretak iflg. sÃ¦rskilt lov                             15
Kommunalt foretak                                             7
Tingsrettslig sameie                                          6
Eierseksjonssameie                                            5
Ansvarlig selskap med solidarisk ansvar                       5
Selskap med begrenset ansvar                                  3
Annen juridisk person                                         3
SÃ¦rskilt oppdelt enhet, jf. mval. Â§ 2-2                       2
Fylkeskommune                                                 2
Ansvarlig selskap med delt ansvar                             2
Pensjonskasse                                                 1
Boligbyggelag                                                 1
Staten                                                        1
Allmennaksjeselskap                                           1
Kommandittselskap                                             1
Name: count, dtype: int64

==================================================
Column: industry code 1
  Value counts:
industry code 1
88.911    5501
68.209     327
94.910     123
94.991      55
84.110      46
          ...
41.101       1
65.300       1
88.991       1
87.302       1
43.320       1
Name: count, Length: 75, dtype: int64

==================================================
Column: industry code 1 description
  Value counts:
industry code 1 description
Barnehager                                                                              5501
Utleie av egen eller leid fast eiendom ellers                                            327
ReligiÃ¸se organisasjoner                                                                 123
Aktiviteter i andre interesseorganisasjoner ikke nevnt annet sted                         55
Generell offentlig administrasjon                                                         46
                                                                                        ...
Boligbyggelag                                                                              1
Pensjonskasser                                                                             1
Barneverntjenester                                                                         1
Bofellesskap for eldre og funksjonshemmede med fast tilknyttet personell hele dÃ¸gnet       1
Snekkerarbeid                                                                              1
Name: count, Length: 75, dtype: int64

==================================================
Column: industry code 2
  Value counts:
industry code 2
88.911    37
68.209     4
01.190     3
02.200     3
85.310     3
86.906     3
93.130     2
56.290     2
55.900     2
01.110     2
01.451     2
88.993     2
87.202     1
01.460     1
55.101     1
86.105     1
85.591     1
01.420     1
01.610     1
01.410     1
62.010     1
16.231     1
86.104     1
86.223     1
47.521     1
52.229     1
06.200     1
93.190     1
03.222     1
86.907     1
87.102     1
81.299     1
72.190     1
56.101     1
88.994     1
70.220     1
85.320     1
87.901     1
94.110     1
91.030     1
Name: count, dtype: int64

==================================================
Column: industry code 2 description
  Value counts:
industry code 2 description
Barnehager                                                                     37
Utleie av egen eller leid fast eiendom ellers                                   4
Dyrking av ettÃ¥rige vekster ellers                                              3
Avvirkning                                                                      3
VideregÃ¥ende opplÃ¦ring innen allmennfaglige studieretninger                     3
Medisinske laboratorietjenester                                                 3
Treningssentre                                                                  2
Kantiner drevet som selvstendig virksomhet                                      2
Annen overnatting                                                               2
Dyrking av korn (unntatt ris), belgvekster og oljeholdige vekster               2
Sauehold                                                                        2
Arbeidstrening for ordinÃ¦rt arbeidsmarked                                       2
Omsorgsinstitusjoner for rusmiddelmisbrukere                                    1
Svinehold                                                                       1
Drift av hoteller, pensjonater og moteller med restaurant                       1
Institusjoner i psykisk helsevern for barn og unge                              1
FolkehÃ¸gskoleundervisning                                                       1
Oppdrett av annet storfe                                                        1
Tjenester tilknyttet planteproduksjon                                           1
Melkeproduksjon pÃ¥ storfe                                                       1
Programmeringstjenester                                                         1
Produksjon av monteringsferdige hus                                             1
Institusjoner i psykisk helsevern for voksne                                    1
Poliklinikker i psykisk helsevern for voksne                                    1
Butikkhandel med bredt utvalg av jernvarer, fargevarer og andre byggevarer      1
Tjenester tilknyttet sjÃ¸transport ellers                                        1
Utvinning av naturgass                                                          1
Andre sportsaktiviteter                                                         1
Produksjon av yngel og settefisk i ferskvannsbasert fiskeoppdrett               1
Ambulansetjenester                                                              1
Somatiske sykehjem                                                              1
Annen rengjÃ¸ringsvirksomhet ikke nevnt annet sted                               1
Annen forskning og annet utviklingsarbeid innen naturvitenskap og teknikk       1
Drift av restauranter og kafeer                                                 1
Varig tilrettelagt arbeid                                                       1
BedriftsrÃ¥dgivning og annen administrativ rÃ¥dgivning                            1
VideregÃ¥ende opplÃ¦ring innen tekniske og andre yrkesfaglige studieretninger     1
Institusjoner innen barne- og ungdomsvern                                       1
NÃ¦ringslivs- og arbeidsgiverorganisasjoner                                      1
Drift av historiske steder og bygninger og lignende severdigheter               1
Name: count, dtype: int64

==================================================
Column: industry code 3
  Value counts:
industry code 3
88.911    3
88.999    2
55.201    2
19.200    1
87.909    1
85.429    1
72.110    1
56.101    1
55.102    1
86.212    1
88.913    1
56.290    1
68.100    1
02.200    1
85.310    1
85.599    1
86.904    1
68.209    1
38.320    1
01.620    1
Name: count, dtype: int64

==================================================
Column: industry code 3 description
  Value counts:
industry code 3 description
Barnehager                                                     3
Andre sosialtjenester uten botilbud                            2
Drift av vandrerhjem                                           2
Produksjon av raffinerte petroleumsprodukter                   1
Omsorgsinstitusjoner ellers                                    1
Undervisning ved andre hÃ¸gskoler                               1
Forskning og utviklingsarbeid innen bioteknologi               1
Drift av restauranter og kafeer                                1
Drift av hoteller, pensjonater og moteller uten restaurant     1
Somatiske poliklinikker                                        1
Skolefritidsordninger                                          1
Kantiner drevet som selvstendig virksomhet                     1
KjÃ¸p og salg av egen fast eiendom                              1
Avvirkning                                                     1
VideregÃ¥ende opplÃ¦ring innen allmennfaglige studieretninger    1
Annen undervisning ikke nevnt annet sted                       1
Annen forebyggende helsetjeneste                               1
Utleie av egen eller leid fast eiendom ellers                  1
Sortering og bearbeiding av avfall for materialgjenvinning     1
Tjenester tilknyttet husdyrhold                                1
Name: count, dtype: int64

==================================================
Column: auxiliary unit code
  Value counts:
auxiliary unit code
70.100    32
68.209    22
78.200    12
82.110     1
33.170     1
Name: count, dtype: int64

==================================================
Column: auxiliary unit code description
  Value counts:
auxiliary unit code description
Hovedkontortjenester                                  32
Utleie av egen eller leid fast eiendom ellers         22
Utleie av arbeidskraft                                12
Kombinerte kontortjenester                             1
Reparasjon og vedlikehold av andre transportmidler     1
Name: count, dtype: int64

==================================================
Column: has registered number of employees
  Value counts:
has registered number of employees
true     5473
false     836
Name: count, dtype: int64

==================================================
Column: number of employees
  Value counts:
number of employees
16      207
20      202
19      190
23      181
24      180
       ...
4755      1
5022      1
3270      1
1976      1
1028      1
Name: count, Length: 191, dtype: int64

==================================================
Column: website
  Value counts:
website
www.espira.no                     52
www.kidsabarnehager.no/           21
www.bydel-alna.oslo.kommune.no    21
www.familiebarnehage.no           20
www.laringsverkstedet.no          13
                                  ..
ulsnesbarnehage.no/                1
gaardstunet.barnehage.no/          1
www.furutoppen-barnehage.com       1
Www.knollogtottbarnehage.no        1
vippa.bhg.no                       1
Name: count, Length: 2125, dtype: int64

==================================================
Column: postal address
  Value counts:
postal address
Postboks 215                                251
Postboks 2300 Torgarden                     101
Ekholtveien 114                              95
Postboks 353                                 80
Postboks 355                                 53
                                           ...
c/o Vindafjord kommmune/nRÃ¥dhusplassen 1      1
Labakken 4                                    1
Postboks 285                                  1
Postmottak/nBrÃ¸lÃ¸svegen 13A                   1
Nedre Fagerhei 19                             1
Name: count, Length: 819, dtype: int64

==================================================
Column: postal town
  Value counts:
postal town
JESSHEIM       265
OSLO           245
TRONDHEIM      128
MOSS           117
STAVANGER       90
              ...
ENGERDAL         1
SKJÃ…K            1
STEINSDALEN      1
Ã˜YER             1
RYPEFJORD        1
Name: count, Length: 401, dtype: int64

==================================================
Column: postal code
  Value counts:
postal code
2051    257
7004    103
1526     98
4291     83
4068     81
       ...
5730      1
3142      1
2830      1
2636      1
4823      1
Name: count, Length: 725, dtype: int64

==================================================
Column: postal municipality
  Value counts:
postal municipality
ULLENSAKER    267
OSLO          245
TRONDHEIM     132
MOSS          119
KARMÃ˜Y         95
             ...
LEIRFJORD       1
RÃ˜DÃ˜Y           1
OSEN            1
LAVANGEN        1
SULA            1
Name: count, Length: 265, dtype: int64

==================================================
Column: postal municipality number
  Value counts:
postal municipality number
3209    267
0301    245
5001    132
3103    119
1149     95
       ...
1845      1
5047      1
5052      1
1815      1
1531      1
Name: count, Length: 266, dtype: int64

==================================================
Column: postal country
  Value counts:
postal country
Norge    2775
Name: count, dtype: int64

==================================================
Column: postal country code
  Value counts:
postal country code
NO    2775
Name: count, dtype: int64

==================================================
Column: business address
  Value counts:
business address
c/o SBB Samfunnsbygg AS/nTordenskiolds gate 10      93
c/o SBB Samfunnsbygg AS/nTordenskiolds gate 8-10    27
c/o SBB Samfunnsbygg AS/nTordenskioldsgate 8-10      8
Saturnvegen 54                                       5
Haakon VIIs gate 2                                   5
                                                    ..
Storgata 51                                          1
Gudolf Blakstads vei 40                              1
Haldenveien 1246                                     1
UttrÃ¥gata 9                                          1
Voldholen Kroer                                      1
Name: count, Length: 729, dtype: int64

==================================================
Column: business post town
  Value counts:
business post town
OSLO              285
BERGEN             30
TRONDHEIM          16
KRISTIANSAND S     16
SANDEFJORD         14
                 ...
EVENSKJER           1
ARNEBERG            1
ANDENES             1
SANDNESSJÃ˜EN        1
FÃ…VANG              1
Name: count, Length: 299, dtype: int64

==================================================
Column: business postal code
  Value counts:
business postal code
0160    129
0179     14
0161      6
0756      5
2069      5
       ...
6843      1
3262      1
3330      1
1960      1
1430      1
Name: count, Length: 594, dtype: int64

==================================================
Column: business municipality
  Value counts:
business municipality
OSLO            285
BERGEN           51
TRONDHEIM        26
KRISTIANSAND     21
BÃ†RUM            20
               ...
NORDRE LAND       1
MARKER            1
HURDAL            1
Ã…FJORD            1
LILLESAND         1
Name: count, Length: 161, dtype: int64

==================================================
Column: business municipality number
  Value counts:
business municipality number
0301    285
4601     51
5001     26
4204     21
3201     20
       ...
3448      1
3122      1
3242      1
5058      1
4215      1
Name: count, Length: 161, dtype: int64

==================================================
Column: business country
  Value counts:
business country
Norge    919
Name: count, dtype: int64

==================================================
Column: business country code
  Value counts:
business country code
NO    919
Name: count, dtype: int64

==================================================
Column: institutional sector code
  Value counts:
institutional sector code
2100    489
7000    186
6500    119
8200     60
8300     20
6100     13
1520      8
2300      8
2500      5
1120      3
5500      1
1510      1
3600      1
Name: count, dtype: int64

==================================================
Column: institutional sector code description
  Value counts:
institutional sector code description
Private aksjeselskaper mv.                                       489
Ideelle organisasjoner                                           186
Kommuneforvaltningen                                             119
Personlig nÃ¦ringsdrivende                                         60
Borettslag o.l.                                                   20
Statsforvaltningen                                                13
Kommunalt eide aksjeselskaper mv.                                  8
Personlige foretak                                                 8
Private produsentorienterte organisasjoner uten profittformÃ¥l      5
Statlig eide aksjeselskaper mv.                                    3
Livsforsikringsselskaper og pensjonskasser                         1
Kommunale foretak med ubegrenset ansvar                            1
Finansieringsforetak                                               1
Name: count, dtype: int64

==================================================
Column: last submitted annual accounts
  Value counts:
last submitted annual accounts
2022    453
2023    108
2021      3
2005      3
2002      3
2001      2
2016      2
2015      2
2009      2
2019      1
2013      1
2017      1
2012      1
2010      1
Name: count, dtype: int64

==================================================
Column: registration date in unit register
  Value counts:
registration date in unit register
1995-02-20    107
1995-02-19     62
1997-01-27     41
1995-03-12     38
1995-06-07     36
             ...
2008-09-22      1
1997-08-05      1
1997-02-19      1
2009-02-12      1
2012-12-13      1
Name: count, Length: 546, dtype: int64

==================================================
Column: foundation date
  Value counts:
foundation date
1995-02-20    11
1989-01-01     6
1989-01-02     5
2006-08-04     5
1988-04-01     5
              ..
1879-12-31     1
2017-09-14     1
1920-06-20     1
1968-07-01     1
2012-11-01     1
Name: count, Length: 666, dtype: int64

==================================================
Column: registered in VAT register
  Value counts:
registered in VAT register
false    5867
true      442
Name: count, dtype: int64

==================================================
Column: voluntary VAT registered descriptions
  Value counts:
voluntary VAT registered descriptions
Utleier av bygg eller anlegg                                       285
Bortforpakter av landbrukseiendom                                    5
Bortforpakter av landbrukseiendom, Utleier av bygg eller anlegg      1

In [14]:
# # Function to get organization details from organization number
# def get_org_details(orgnr):
#     url = f'https://data.brreg.no/enhetsregisteret/api/enheter/{orgnr}'
#     response = requests.get(url)
#     if response.status_code == 200:
#         return response.json()
#     else:
#         return {'organisasjonsnummer': orgnr, 'status': '404 - Not Found'}

In [15]:
# # Function to get organization details from organization number
# def get_org_details(orgnr):
#     url = f'https://data.brreg.no/enhetsregisteret/api/enheter/{orgnr}'
#     filename = f'json_data/{orgnr}.json'
#     error_log_file = f'json_data/{orgnr}_error.log'

#     # Check if the JSON file already exists
#     if os.path.exists(filename):
#         with open(filename, 'r') as file:
#             return json.load(file)
#     # Check if the JSON file already exists
#     if os.path.exists(error_log_file):
#         with open(error_log_file, 'r') as file:
#             return {'organisasjonsnummer': orgnr, 'status': file.read()}

#     try:
#         response = requests.get(url, timeout=10)
#         response.raise_for_status()
#         data = response.json()
#         # Save the JSON data to a file
#         os.makedirs('json_data', exist_ok=True)
#         with open(filename, 'w') as file:
#             json.dump(data, file)
#         return data
#     except requests.exceptions.HTTPError as http_err:
#         error_message = f"HTTP error occurred: {http_err}"
#     except requests.exceptions.ConnectionError as conn_err:
#         error_message = f"Connection error occurred: {conn_err}"
#     except requests.exceptions.Timeout as timeout_err:
#         error_message = f"Timeout error occurred: {timeout_err}"
#     except requests.exceptions.RequestException as req_err:
#         error_message = f"An error occurred: {req_err}"

#     # Log the error to a file
#     with open(error_log_file, 'w') as file:
#         file.write(error_message)

#     return {'organisasjonsnummer': orgnr, 'status': error_message}

In [16]:
# get_org_details('996920917')