In [1]:
import pandas as pd
import requests, os, json
from pandas import json_normalize

In [2]:
suspects = '../../analyses/kindergartens/suspects.csv'
# redflags = '../../analyses/kindergartens/redflags.csv'

enheter = 'data/enheter_2024-06-11T04-16-20.253290563.csv'
underenheter = 'data/underenheter_2024-06-11T04-22-23.463742057.csv'

In [3]:
# Load the CSV file
df_sus = pd.read_csv(suspects, dtype=str)
# df_rf = pd.read_csv(redflags, dtype=str)

all_ids= pd.concat([df_sus[col] for col in df_sus.columns]).unique()
fd = pd.DataFrame(all_ids, columns=['organization number'])

In [4]:
df_en = pd.read_csv(enheter, dtype=str)

In [5]:
df_un = pd.read_csv(underenheter, dtype=str)

In [6]:
# # Check if both dataframes have the exact same list of columns
# columns_match = df_en.columns.equals(df_un.columns)
# print(f"Do both dataframes have the exact same columns? {columns_match}")

# # Identify if one dataframe has more columns than the other
# df_en_columns = set(df_en.columns)
# df_un_columns = set(df_un.columns)

# if df_en_columns != df_un_columns:
#     extra_columns_df_en = df_en_columns - df_un_columns
#     extra_columns_df_un = df_un_columns - df_en_columns
#     common_columns_df = df_un_columns & df_en_columns
#     print(f"Extra columns in df_un: {extra_columns_df_un}")
#     print(f"Extra columns in df_en: {extra_columns_df_en}")
#     print(f"Common columns in df_un: {common_columns_df}")




# # Checking if dataframes have overlapping 'organisasjonsnummer'
# common = pd.merge(df_en, df_un, on='organisasjonsnummer')
# print(common)

In [7]:
column_fixes = {
    'registreringsdatoIEnhetsregisteret': 'registreringsdatoenhetsregisteret',
    'registrertIMvaRegisteret': 'registrertIMvaregisteret',
}
column_translations = {
    'aktivitet': 'activity',
    'antallAnsatte': 'number of employees',
    'beliggenhetsadresse.adresse': 'location address',
    'beliggenhetsadresse.kommune': 'location municipality',
    'beliggenhetsadresse.kommunenummer': 'location municipality number',
    'beliggenhetsadresse.land': 'location country',
    'beliggenhetsadresse.landkode': 'location country code',
    'beliggenhetsadresse.postnummer': 'location postal code',
    'beliggenhetsadresse.poststed': 'location post town',
    'datoEierskifte': 'ownership change date',
    'forretningsadresse.adresse': 'business address',
    'forretningsadresse.kommune': 'business municipality',
    'forretningsadresse.kommunenummer': 'business municipality number',
    'forretningsadresse.land': 'business country',
    'forretningsadresse.landkode': 'business country code',
    'forretningsadresse.postnummer': 'business postal code',
    'forretningsadresse.poststed': 'business post town',
    'frivilligMvaRegistrertBeskrivelser': 'voluntary VAT registered descriptions',
    'harRegistrertAntallAnsatte': 'has registered number of employees',
    'hjelpeenhetskode.beskrivelse': 'auxiliary unit code description',
    'hjelpeenhetskode.kode': 'auxiliary unit code',
    'hjemmeside': 'website',
    'institusjonellSektorkode.beskrivelse': 'institutional sector code description',
    'institusjonellSektorkode.kode': 'institutional sector code',
    'konkurs': 'bankrupt',
    'konkursdato': 'bankruptcy date',
    'maalform': 'language form',
    'naeringskode1.beskrivelse': 'industry code 1 description',
    'naeringskode1.kode': 'industry code 1',
    'naeringskode2.beskrivelse': 'industry code 2 description',
    'naeringskode2.kode': 'industry code 2',
    'naeringskode3.beskrivelse': 'industry code 3 description',
    'naeringskode3.kode': 'industry code 3',
    'navn': 'name',
    'nedleggelsesdato': 'closure date',
    'oppstartsdato': 'start date',
    'organisasjonsform.beskrivelse': 'organization form description',
    'organisasjonsform.kode': 'organization form code',
    'organisasjonsnummer': 'organization number',
    'overordnetEnhet': 'parent unit',
    'postadresse.adresse': 'postal address',
    'postadresse.kommune': 'postal municipality',
    'postadresse.kommunenummer': 'postal municipality number',
    'postadresse.land': 'postal country',
    'postadresse.landkode': 'postal country code',
    'postadresse.postnummer': 'postal code',
    'postadresse.poststed': 'postal town',
    'registreringsdatoenhetsregisteret': 'registration date in unit register',
    'registrertIForetaksregisteret': 'registration date of the Unit Register',
    'registrertIFrivillighetsregisteret': 'registered in volunteer register',
    'registrertIMvaregisteret': 'registered in VAT register',
    'registrertIStiftelsesregisteret': 'registered in foundation register',
    'sisteInnsendteAarsregnskap': 'last submitted annual accounts',
    'stiftelsesdato': 'foundation date',
    'tvangsavvikletPgaManglendeSlettingDato': 'compulsory liquidation due to lack of deletion date',
    'tvangsopplostPgaMangelfulltStyreDato': 'compulsory dissolution due to insufficient board date',
    'tvangsopplostPgaManglendeDagligLederDato': 'compulsory dissolution due to lack of general manager date',
    'tvangsopplostPgaManglendeRegnskapDato': 'compulsory dissolution due to lack of accounts date',
    'tvangsopplostPgaManglendeRevisorDato': 'compulsory dissolution due to lack of auditor date',
    'underAvvikling': 'under liquidation',
    'underAvviklingDato': 'under liquidation date',
    'underTvangsavviklingEllerTvangsopplosning': 'under compulsory liquidation or dissolution',
    'vedtektsdato': 'articles of association date',
    'vedtektsfestetFormaal': 'statutory purpose'
}
translation_dict = {
    'Underenhet til næringsdrivende og offentlig forvaltning': 'Subunit of businesses and public administration',
    'Enkeltpersonforetak': 'Sole proprietorship',
    'Aksjeselskap': 'Limited company (AS)',
    'Forening/lag/innretning': 'Association/club/facility',
    'Underenhet til ikke-næringsdrivende': 'Subunit of non-business entities',
    'Eierseksjonssameie': 'Condominium',
    'Utenlandsk enhet': 'Foreign entity',
    'Norskregistrert utenlandsk foretak': 'Norwegian registered foreign company (NUF)',
    'Ansvarlig selskap med delt ansvar': 'General partnership with shared liability (DA)',
    'Borettslag': 'Housing cooperative',
    'Ansvarlig selskap med solidarisk ansvar': 'General partnership with joint liability (ANS)',
    'Konkursbo': 'Bankruptcy estate',
    'Samvirkeforetak': 'Cooperative',
    'Tingsrettslig sameie': 'Legal co-ownership',
    'Stiftelse': 'Foundation',
    'Annen juridisk person': 'Other legal entity',
    'Organisasjonsledd': 'Organizational unit',
    'Selskap med begrenset ansvar': 'Company with limited liability',
    'Den norske kirke': 'The Church of Norway',
    'Verdipapirfond': 'Mutual fund',
    'Kommune': 'Municipality',
    'Allmennaksjeselskap': 'Public limited company (ASA)',
    'Interkommunalt selskap': 'Inter-municipal company',
    'Kommunalt foretak': 'Municipal enterprise',
    'Kommandittselskap': 'Limited partnership (KS)',
    'Partrederi': 'Partnership in maritime trade',
    'Særskilt oppdelt enhet, jf. mval. § 2-2': 'Specially divided unit, according to VAT Act § 2-2',
    'Sparebank': 'Savings bank',
    'Pensjonskasse': 'Pension fund',
    'Annet foretak iflg. særskilt lov': 'Other enterprise according to special law',
    'Andre bo': 'Other estates',
    'Boligbyggelag': 'Housing association',
    'Andre enkeltpersoner som registreres i tilknyttet register': 'Other individuals registered in the associated register',
    'Gjensidig forsikringsselskap': 'Mutual insurance company',
    'Administrativ enhet - offentlig sektor': 'Administrative unit - public sector',
    'Kontorfellesskap': 'Office community',
    'Staten': 'The state',
    'Fylkeskommune': 'County municipality',
    'Tvangsregistrert for MVA': 'Compulsory VAT registration',
    'Statsforetak': 'State enterprise',
    'Fylkeskommunalt foretak': 'County municipal enterprise',
    'Europeisk selskap': 'European company (SE)',
    'Andre ikke-juridiske personer': 'Other non-legal persons'
}

In [8]:
# fix columns
df_en = df_en.rename(columns=column_fixes)
df_un = df_un.rename(columns=column_fixes)
# Concatenate the dataframes
df = pd.concat([df_en, df_un], ignore_index=True)
# print(df)
df = df.rename(columns=column_translations)
df['organization form description (EN)'] = df['organization form description'].map(translation_dict)

In [9]:
def column_statistics(df):
    for column in df.columns:
        print(f"==================================================")
        print(f"Column: {column}")
        unique_values = df[column].nunique()
        
        if unique_values == len(df):
            print("  Unique per row")
        elif pd.api.types.is_numeric_dtype(df[column]):
            mean = df[column].mean()
            std = df[column].std()
            min_val = df[column].min()
            max_val = df[column].max()
            print(f"  Mean: {mean}")
            print(f"  Standard Deviation: {std}")
            print(f"  Min: {min_val}")
            print(f"  Max: {max_val}")
        else:
            value_counts = df[column].value_counts()
            print("  Value counts:")
            print(value_counts)
        print()

In [10]:
column_statistics(df)

==================================================
Column: organization number
  Unique per row

==================================================
Column: name
  Value counts:
name
AHMED TRANSPORT                 40
ALI TRANSPORT                   34
ANDERSEN                        33
AHMED                           30
HASSAN TAXI                     29
                                ..
HUGMUN HOLDING AS                1
K. BETTEN INVEST AS              1
NIAR INVEST AS                   1
GUSTAD TRANSPORT                 1
JOHANSEN ELEKTRONIKK SUPPORT     1
Name: count, Length: 1199510, dtype: int64

==================================================
Column: organization form code
  Value counts:
organization form code
BEDR    695345
ENK     424367
AS      403675
FLI     123006
AAFY    108422
ESEK     30578
UTLA     27779
NUF      26118
DA       12159
BRL       9568
ANS       8638
KBO       7315
SA        6730
SAM       6624
STI       6221
ANNA      2949
ORGL      1690
BA        1439
KIRK      1433
VPFO       421
KOMM       358
ASA        236
IKS        228
KF         160
KS         148
PRE        120
OPMV       111
SPA         81
PK          74
SÆR         63
BO          60
BBL         48
PERS        36
GFS         33
ADOS        26
KTRF        24
STAT        20
FYLK        17
TVAM        10
SF           8
FKF          7
SE           5
IKJP         1
Name: count, dtype: int64

==================================================
Column: organization form description
  Value counts:
organization form description
Underenhet til næringsdrivende og offentlig forvaltning       695345
Enkeltpersonforetak                                           424367
Aksjeselskap                                                  403675
Forening/lag/innretning                                       123006
Underenhet til ikke-næringsdrivende                           108422
Eierseksjonssameie                                             30578
Utenlandsk enhet                                               27779
Norskregistrert utenlandsk foretak                             26118
Ansvarlig selskap med delt ansvar                              12159
Borettslag                                                      9568
Ansvarlig selskap med solidarisk ansvar                         8638
Konkursbo                                                       7315
Samvirkeforetak                                                 6730
Tingsrettslig sameie                                            6624
Stiftelse                                                       6221
Annen juridisk person                                           2949
Organisasjonsledd                                               1690
Selskap med begrenset ansvar                                    1439
Den norske kirke                                                1433
Verdipapirfond                                                   421
Kommune                                                          358
Allmennaksjeselskap                                              236
Interkommunalt selskap                                           228
Kommunalt foretak                                                160
Kommandittselskap                                                148
Partrederi                                                       120
Særskilt oppdelt enhet, jf. mval. § 2-2                          111
Sparebank                                                         81
Pensjonskasse                                                     74
Annet foretak iflg. særskilt lov                                  63
Andre bo                                                          60
Boligbyggelag                                                     48
Andre enkeltpersoner som registreres i tilknyttet register        36
Gjensidig forsikringsselskap                                      33
Administrativ enhet - offentlig sektor                            26
Kontorfellesskap                                                  24
Staten                                                            20
Fylkeskommune                                                     17
Tvangsregistrert for MVA                                          10
Statsforetak                                                       8
Fylkeskommunalt foretak                                            7
Europeisk selskap                                                  5
Andre ikke-juridiske personer                                      1
Name: count, dtype: int64

==================================================
Column: industry code 1
  Value counts:
industry code 1
68.209    126517
94.991     95888
00.000     73071
41.200     46739
70.220     46149
           ...
01.150         2
20.600         2
28.240         1
23.310         1
24.340         1
Name: count, Length: 806, dtype: int64

==================================================
Column: industry code 1 description
  Value counts:
industry code 1 description
Utleie av egen eller leid fast eiendom ellers                        126517
Aktiviteter i andre interesseorganisasjoner ikke nevnt annet sted     95888
Uoppgitt                                                              73071
Oppføring av bygninger                                                46739
Bedriftsrådgivning og annen administrativ rådgivning                  46149
                                                                      ...
Dyrking av tobakk                                                         2
Produksjon av kunstfibrer                                                 2
Produksjon av motordrevet håndverktøy                                     1
Produksjon av keramiske vegg- og gulvfliser                               1
Kaldtrekking av tråd                                                      1
Name: count, Length: 806, dtype: int64

==================================================
Column: industry code 2
  Value counts:
industry code 2
02.200    8732
01.110    3702
01.451    3077
01.190    1347
01.420    1238
          ...
09.101       1
77.290       1
46.495       1
28.250       1
87.101       1
Name: count, Length: 555, dtype: int64

==================================================
Column: industry code 2 description
  Value counts:
industry code 2 description
Avvirkning                                                                  8732
Dyrking av korn (unntatt ris), belgvekster og oljeholdige vekster           3702
Sauehold                                                                    3077
Dyrking av ettårige vekster ellers                                          1347
Oppdrett av annet storfe                                                    1238
                                                                            ...
Boretjenester tilknyttet utvinning av råolje og naturgass                      1
Utleie og leasing av andre husholdningsvarer og varer til personlig bruk       1
Engroshandel med spill og leker                                                1
Produksjon av kjøle- og ventilasjonsanlegg, unntatt til husholdningsbruk       1
Somatiske spesialsykehjem                                                      1
Name: count, Length: 555, dtype: int64

==================================================
Column: industry code 3
  Value counts:
industry code 3
02.200    494
68.209    160
01.610    112
01.110     93
39.000     58
         ...
47.593      1
10.720      1
46.491      1
25.110      1
16.232      1
Name: count, Length: 290, dtype: int64

==================================================
Column: industry code 3 description
  Value counts:
industry code 3 description
Avvirkning                                                           494
Utleie av egen eller leid fast eiendom ellers                        160
Tjenester tilknyttet planteproduksjon                                112
Dyrking av korn (unntatt ris), belgvekster og oljeholdige vekster     93
Miljørydding, miljørensing og lignende virksomhet                     58
                                                                    ...
Butikkhandel med kjøkkenutstyr, glass og steintøy                      1
Produksjon av kavringer, kjeks og konserverte konditorvarer            1
Engroshandel med bøker, aviser og blader                               1
Produksjon av metallkonstruksjoner og deler                            1
Produksjon av bygningsartikler                                         1
Name: count, Length: 290, dtype: int64

==================================================
Column: auxiliary unit code
  Value counts:
auxiliary unit code
70.100    33815
68.209     3932
82.110      325
78.200      285
52.100      102
          ...
46.441        1
74.103        1
46.410        1
43.990        1
71.122        1
Name: count, Length: 112, dtype: int64

==================================================
Column: auxiliary unit code description
  Value counts:
auxiliary unit code description
Hovedkontortjenester                                               33815
Utleie av egen eller leid fast eiendom ellers                       3932
Kombinerte kontortjenester                                           325
Utleie av arbeidskraft                                               285
Lagring                                                              102
                                                                   ...
Engroshandel med kjøkkenutstyr, glass og steintøy                      1
Interiørarkitekt, interiørdesign og interiørkonsulentvirksomhet        1
Engroshandel med tekstiler og utstyrsvarer                             1
Annen spesialisert bygge- og anleggsvirksomhet                         1
Geologiske undersøkelser                                               1
Name: count, Length: 112, dtype: int64

==================================================
Column: has registered number of employees
  Value counts:
has registered number of employees
false    1478918
true      427433
Name: count, dtype: int64

==================================================
Column: number of employees
  Value counts:
number of employees
5       20064
6       16828
7       14388
8       12236
9       10103
        ...
1246        1
1046        1
3809        1
665         1
4753        1
Name: count, Length: 1437, dtype: int64

==================================================
Column: website
  Value counts:
website
www.usbl.no                     1595
www.obos.no                     1065
www.bate.no                      760
www.vestbo.no                    575
usbl.no                          552
                                ...
www.lakselvbukt.com                1
www.everyhair.no                   1
www.sparbu-teaterlag.no            1
1.lysaker.speidergruppe.org/       1
www.filipatredal.com               1
Name: count, Length: 101445, dtype: int64

==================================================
Column: postal address
  Value counts:
postal address
Postboks 44                                                 1298
c/o Bate boligbyggelag/nPostboks 88 Sentrum                 1156
Postboks 323                                                1112
Postboks 4                                                  1089
c/o Boligbyggelaget TOBB/nPostboks 2424 Torgarden           1053
                                                            ...
c/o Øyvind Olsnes/nTræshaugledet 27                            1
Bruveien 11                                                    1
Dubai Int. Financial Centre/nP.O. Box 506539                   1
2nd Floor Harbor center II/nRailroad and Chicago streets       1
Nordfoldveien 101                                              1
Name: count, Length: 108226, dtype: int64

==================================================
Column: postal town
  Value counts:
postal town
OSLO                                84665
TRONDHEIM                           13625
BERGEN                              13537
STAVANGER                           10145
KRISTIANSAND S                       7143
                                    ...
FI-00076 AALTO                          1
SE-232 91 ARLÖV                         1
72793 Pfullingen                        1
60337 Norrköping                        1
ES-07181 Illetas-Calvia Mallorca        1
Name: count, Length: 9523, dtype: int64

==================================================
Column: postal code
  Value counts:
postal code
0129    11156
4001     2933
0125     2587
7005     2470
2001     2467
        ...
6452        1
4134        1
8385        1
5712        1
3575        1
Name: count, Length: 4964, dtype: int64

==================================================
Column: postal municipality
  Value counts:
postal municipality
OSLO         84665
BERGEN       17356
TRONDHEIM    15021
STAVANGER    11044
BÆRUM        10907
             ...
BEIARN          30
FEDJE           28
KVITSØY         23
RØST            23
VEVELSTAD       22
Name: count, Length: 356, dtype: int64

==================================================
Column: postal municipality number
  Value counts:
postal municipality number
0301    84665
4601    17356
5001    15021
1103    11044
3201    10907
        ...
1839       30
4633       28
1144       23
1856       23
1816       22
Name: count, Length: 358, dtype: int64

==================================================
Column: postal country
  Value counts:
postal country
Norge            369736
Sverige            3961
Storbritannia      2526
Danmark            1431
Nederland           545
                  ...
Libanon               1
Zimbabwe              1
Monaco                1
Sri Lanka             1
Argentina             1
Name: count, Length: 110, dtype: int64

==================================================
Column: postal country code
  Value counts:
postal country code
NO    369736
SE      3961
GB      2526
DK      1431
NL       545
       ...
CO         1
PE         1
LY         1
LK         1
AR         1
Name: count, Length: 109, dtype: int64

==================================================
Column: business address
  Value counts:
business address
v/OBOS Eiendomsforvaltning AS/nHammersborg torg 1      691
Zetlitzveien 2                                         608
c/o OBOS Eiendomsforvaltning AS/nHammersborg torg 1    548
Hammersborg torg 1                                     511
Arbeidersamfunnets plass 1                             499
                                                      ...
Hellemyrstien 22                                         1
c/o Christoffer Hønsen/nÅlandsvegen 379                  1
Hjalmar Johansens gate 317                               1
c/o Roy-Georg Kristofferzen/nLundeveien 149              1
Hans Schwer platz 1                                      1
Name: count, Length: 628116, dtype: int64

==================================================
Column: business post town
  Value counts:
business post town
OSLO                         182810
TRONDHEIM                     26715
BERGEN                        24395
STAVANGER                     20493
KRISTIANSAND S                16554
                              ...
SE-564 23 Bankeryd                1
GB-Worcestershire B60 4AE         1
SE-45230 Strömstad                1
R14 EK81 Kildare                  1
78588 Denkingen                   1
Name: count, Length: 26260, dtype: int64

==================================================
Column: business postal code
  Value counts:
business postal code
0179    3545
0250    3489
7011    2661
1366    2562
0484    2223
        ...
1304       1
5731       1
7404       1
6283       1
7744       1
Name: count, Length: 4243, dtype: int64

==================================================
Column: business municipality
  Value counts:
business municipality
OSLO         182813
BERGEN        52087
TRONDHEIM     36634
BÆRUM         27063
STAVANGER     25987
              ...
TRÆNA           144
VEVELSTAD       143
MODALEN         117
FEDJE            99
UTSIRA           66
Name: count, Length: 356, dtype: int64

==================================================
Column: business municipality number
  Value counts:
business municipality number
0301    182813
4601     52087
5001     36634
3201     27063
1103     25987
         ...
1835       144
1816       143
4629       117
4633        99
1151        66
Name: count, Length: 358, dtype: int64

==================================================
Column: business country
  Value counts:
business country
Norge                           1043947
Sverige                            9252
Storbritannia                      8809
Danmark                            5409
Tyskland                           3164
                                 ...
Kongo                                 1
Saint Vincent og Grenadinene          1
Turks- og Caicosøyene                 1
Curaçao                               1
Saudi-Arabia                          1
Name: count, Length: 146, dtype: int64

==================================================
Column: business country code
  Value counts:
business country code
NO    1043947
SE       9252
GB       8809
DK       5409
DE       3164
       ...
CD          1
VC          1
LY          1
CW          1
SA          1
Name: count, Length: 145, dtype: int64

==================================================
Column: institutional sector code
  Value counts:
institutional sector code
8200    424080
2100    397378
7000    126340
2300     21014
4900     17401
8300     10532
6500      3689
1520      2520
2500      2189
1120       695
6100       526
4500       492
4300       421
3200       121
5500       101
9000        89
5700        86
1510        85
3600        37
3500        29
8500         8
4100         7
1110         5
3900         4
3100         1
Name: count, dtype: int64

==================================================
Column: institutional sector code description
  Value counts:
institutional sector code description
Personlig næringsdrivende                                        424080
Private aksjeselskaper mv.                                       397378
Ideelle organisasjoner                                           126340
Personlige foretak                                                21014
Øvrige finansielle foretak unntatt forsikring                     17401
Borettslag o.l.                                                   10532
Kommuneforvaltningen                                               3689
Kommunalt eide aksjeselskaper mv.                                  2520
Private produsentorienterte organisasjoner uten profittformål      2189
Statlig eide aksjeselskaper mv.                                     695
Statsforvaltningen                                                  526
Alternative investeringsfond (AIF) unntatt verdipapirfond           492
Verdipapirfond                                                      421
Banker                                                              121
Livsforsikringsselskaper og pensjonskasser                          101
Utlandet                                                             89
Skadeforsikringsselskaper                                            86
Kommunale foretak med ubegrenset ansvar                              85
Finansieringsforetak                                                 37
Kredittforetak                                                       29
Lønnstakere, pensjonister, trygdede, studenter o.a.                   8
Holdingforetak i finanskonsern                                        7
Statens forretningsdrift                                              5
Statlige låneinstitutter mv.                                          4
Norges Bank                                                           1
Name: count, dtype: int64

==================================================
Column: last submitted annual accounts
  Value counts:
last submitted annual accounts
2022    244063
2023    160359
2021      3197
2020      1034
2019       731

In [ ]:
# # Function to get organization details from organization number
# def get_org_details(orgnr):
#     url = f'https://data.brreg.no/enhetsregisteret/api/enheter/{orgnr}'
#     response = requests.get(url)
#     if response.status_code == 200:
#         return response.json()
#     else:
#         return {'organisasjonsnummer': orgnr, 'status': '404 - Not Found'}

In [ ]:
# # Function to get organization details from organization number
# def get_org_details(orgnr):
#     url = f'https://data.brreg.no/enhetsregisteret/api/enheter/{orgnr}'
#     filename = f'json_data/{orgnr}.json'
#     error_log_file = f'json_data/{orgnr}_error.log'

#     # Check if the JSON file already exists
#     if os.path.exists(filename):
#         with open(filename, 'r') as file:
#             return json.load(file)
#     # Check if the JSON file already exists
#     if os.path.exists(error_log_file):
#         with open(error_log_file, 'r') as file:
#             return {'organisasjonsnummer': orgnr, 'status': file.read()}

#     try:
#         response = requests.get(url, timeout=10)
#         response.raise_for_status()
#         data = response.json()
#         # Save the JSON data to a file
#         os.makedirs('json_data', exist_ok=True)
#         with open(filename, 'w') as file:
#             json.dump(data, file)
#         return data
#     except requests.exceptions.HTTPError as http_err:
#         error_message = f"HTTP error occurred: {http_err}"
#     except requests.exceptions.ConnectionError as conn_err:
#         error_message = f"Connection error occurred: {conn_err}"
#     except requests.exceptions.Timeout as timeout_err:
#         error_message = f"Timeout error occurred: {timeout_err}"
#     except requests.exceptions.RequestException as req_err:
#         error_message = f"An error occurred: {req_err}"

#     # Log the error to a file
#     with open(error_log_file, 'w') as file:
#         file.write(error_message)

#     return {'organisasjonsnummer': orgnr, 'status': error_message}

In [ ]:
# get_org_details('996920917')